<ion-content color="dark">


<div class="container">
  <ion-col size="3" class="element">
    <ion-badge color="light" class="custom-badge"  (click)="favoris()" >
       Favoris
    </ion-badge>
  </ion-col>
  <ion-col size="3" class="element">
    <ion-badge color="light" class="custom-badge"  (click)="chanson()">
      Chanson
    </ion-badge>
  </ion-col>
  <ion-col size="3" class="element">
    <ion-badge color="light" style="background-color: orangered;   border: 1px solid orangered;" class="custom-badge"  (click)="playlist()">
       Playlist
   </ion-badge></ion-col>
  <ion-col size="3" class="element">
    <ion-badge color="light" class="custom-badge" (click)="album()">
       Album
    </ion-badge>
  </ion-col>
  <ion-col size="3" class="element">
    <ion-badge color="light" class="custom-badge" (click)="artist()">
       Artiste
    </ion-badge>
  </ion-col>
</div>
<div class="debut">
  <ion-icon name="list-outline" slot="start"></ion-icon>
</div>


  <ion-item  *ngFor="let son of sonsAlbum"  (click)="setOpen(true)" color="dark">
  
  
<ion-avatar>
  <img src="assets/images/player.jpeg" />
</ion-avatar>

<ion-label >{{son.Titre}}</ion-label>
<ion-icon name="ellipsis-vertical-outline"></ion-icon>
</ion-item>


<ion-modal [isOpen]="isModalOpen">
  <ng-template>
   
    <ion-content >
      
      <div class="body">
        <ion-icon name="chevron-down-outline" (click)="setOpen(false)" color="light" style="font-size:  40px"></ion-icon>
        <!-- Playback section -->
        <div text-center>
          <!-- File name -->
       
      
          <!-- avatar -->
          <div style="display: flex; justify-content: center; align-items: center;">
            <img src="{{son.Album.imageAlbum}}" class="photo" style="width: 80%; " />
          </div>
          <br>
      
          <!-- control bar -->
          <div class="range">
            <ion-range  aria-label="Range with knob events"
            (ionKnobMoveStart)="onIonKnobMoveStart($event)"
            (ionKnobMoveEnd)="onIonKnobMoveEnd($event)" >
            
              <ion-label slot="start"></ion-label>
              <ion-label slot="end" >--:--</ion-label>
              <ion-label slot="end" ></ion-label>
            </ion-range>
          </div>
          <br>
      <div class="detail">
          <h1>Titre</h1>
          <p>Artiste</p>
        </div>
          <ion-grid>
            <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
              <ion-col>
                <!-- Backwards -->
                <ion-icon  name="heart" style="color: red;font-size: 40px"></ion-icon> 
      
                  &nbsp;&nbsp;<ion-icon name="play-skip-back" style="font-size: 40px;color: white;"> </ion-icon>&nbsp;&nbsp;
               
              </ion-col>
              <ion-col style="padding-left:20px ;">
                <!-- Play/Pause -->
                <ion-fab-button class="play-pause-btn" color="light"  
                  >
                  <ion-icon name="play"></ion-icon>
                </ion-fab-button>
      
                <ion-fab-button class="play-pause-btn" color="light" >
                  <ion-icon name="pause"></ion-icon>
                </ion-fab-button>
              </ion-col>
              <ion-col>
                <!-- Forwards -->
            
                  &nbsp;&nbsp;<ion-icon name="play-skip-forward" style="font-size: 40px;color: white;"></ion-icon>&nbsp;&nbsp;
                  <ion-icon name="repeat" style="font-size: 40px;color: white;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
      
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>



</ion-content>